<div class="form-group">
    <input 
        [class.is-invalid]="ngControl.touched && ngControl.invalid"
        type={{type}}
        class="form-control" 
        placeholder={{label}} 
        [formControl]="ngControl.control">
   
    <div class="invalid-feedback"
        *ngIf="ngControl.control.errors?.required">
        Please enter a {{label}}
    </div>
    <div class="invalid-feedback"
        *ngIf="ngControl.control.errors?.minlength">
        {{label}} must be at least {{ngControl.errors.minlength['requiredLength']}}
    </div>
    <div class="invalid-feedback"
        *ngIf="ngControl.control.errors?.maxlength">
        {{label}} must be at most {{ngControl.errors.maxlength['requiredLength']}}
    </div>
    <div class="invalid-feedback"
        *ngIf="ngControl.control.errors?.isMatching">
        Password do not match
    </div>
